body{
    align-items: center;
 
 }
 .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
 img{
    display: block;
    width: auto;
    margin-right: center;
    margin-left: center;
 }
 #img-div {
    margin-right: center;
    margin-left: center;
    align-content: center;
 }
 